[Unit]
Description=Nightly mnemosyne database backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/home/dario/src/mnemosyne/deploy/lucciola/backup.sh
