[Unit]
Description=Run the mnemosyne backup every six hours

[Timer]
OnCalendar=*-*-* 00/6:30
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
